<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <!--<a href="{{ site.url }}" class="site-title">{{ site.title }}</a>-->
	  <a href="{{ site.url }}"><img id="left-logo" src="{{ site.baseurl }} /images/logo.png" style="float:left;" /></a>
        {% include navigation.html %}       
      </nav>
      <a href="https://www.wisc.edu/"><img id="right-logo" src="{{ site.baseurl }} /images/wisc.png" style="float:left;" /></a>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
