.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #444;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 0px solid #444;
}

.site-nav a + a {
  margin-left: 0.7em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
  float: left;
  width: 60%;
}


.site-header #left-logo, .site-header #right-logo {
  float: left;
  width: 20%;
}

.site-header .site-nav#dropdown select {
  background-color: white;
  color: $usc-red;
  height: 2.7rem;
  border-radius: 20px;
}

.site-header .site-nav#dropdown {
  display: none;
  width: 40%;
}

@media (max-width: 680px) {
  .site-header .site-nav#links { display: none; }
  .site-header .site-nav#dropdown { display: inline-block; }
  .site-header #left-logo, .site-header #right-logo { width: 30%; }
}

