.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  
  font-family: "TeXGyrePagella","Merriweather","PT Serif",Georgia,"Times New Roman",serif;
  letter-spacing: 1px;
  font-size: 0.9rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}